#first{
    width:100%;

    height:80px;
    background-color: rgb(31, 191, 191);
    padding-top: 29px;
    font-size:xx-large;

}
#second{
    width:100%;

    height:60px;
    background-color: rgb(63, 82, 82);
    

}